@using Edesoft.ERP.MVC.MVC.Pages.Helpers;

@helper CreateBodyModalCrudCliente()
{
    <form action="/" method="POST">
        <input type="hidden" class="edt-id-cliente" />
        <fieldset>
            <legend class="mb-3">Identificação</legend>
            <div class="mb-3">
                <label class="form-label">Nome do Cliente</label>
                <input class="form-control edt-nome-cliente" required data-parsley-trigger="change"/>
            </div>
            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control edt-email-cliente" type="email" required data-parsley-trigger="change"/>
                </div>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input chk-ativo-cliente" type="checkbox" data-parsley-required="false"/>
                <label class="form-check-label">Ativo?</label>
            </div>

        </fieldset>
    </form>
}

@EdesoftHelperModal.CreateModal(new ModalHelper
{
    Name = "md-crud-cliente-backoffice",
    Title = new TitleModalHelper
    {
        Text = "Cadastro de Cliente"
    },
    Body = CreateBodyModalCrudCliente(),
    Footer = new FooterModalHelper()
    {
        Buttons = new List<ButtonHelper>() { new ButtonHelper { Name = "btn-save", Type = "btn-primary", Text = "Confirmar" } }
    }
})